@import "variables";
@import "mixins";

body, html {
  margin: 0;
  padding: 0;
}

* {
  &:focus {
    @include accessibility-shadow;
  }

  &, ::after, ::before {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6, a, p, li, td, th, button {
  font-family: $font-stack;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p a {
  @include link;
}
