$navbar-height: 65px;
$navbar-progress-bar-height: 5px;

$primary-color: #0D6EFD;
$accent-color: rgb(253, 197, 10);
$font-stack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
